$text-1:'Roboto',sans-serif;
$text-2:'Open Sans',sans-serif;



$color1: #ffdfdf;
$color3: #f26440;
$color3_light: rgb(255, 216, 216);
$color3_1: #ad4126;
$color4: #fff;
$color5: #292b46;
$color6: #000000;
$color6_1: #16161698;
$color6_2: #16161622;
$color7:#333;


$p:13.33vmax;
$p_md:7vmax;
$p_base:5vmax;
$p_base_inverse:15vmax 10vmax;
$p_sm:2vmax;
$p_md_sm:4vmax;
$p_sm_inverse:13vmax 0;
$p_zero:0;